.description {
  font-family: "Golos", Arial, sans-serif;
  max-width: 312px;
  color: #9397a3;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 1;
}
