.filters__category-label{
  font-family: Golos, serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters__category-label:hover{
  color: #ff6600;
  transition: color .1s ease-out;
}