.filters__checkbox {
  appearance: none;
  position: absolute;
  margin: 0;
}

.filters__checkbox + .filters__label::before {
  content: '';
  box-sizing: border-box;
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url("../../../images/icons/uncheked-icon.svg");
  background-size: contain;
  margin: 0 11px 20px 2px;
  cursor: pointer;
  vertical-align: text-top;
}

.filters__checkbox:checked + .filters__label::before {
  content: '';
  box-sizing: border-box;
  display: inline-flex;
  background-image: url("../../../images/icons/cheked-icon.svg");
}

.filters__checkbox:checked + .filters__label {
  color: #f06000;
}