.filters__block {
  padding-top: 32px;
  padding-bottom: 33px;
  box-sizing: border-box;
  border-top: 1px solid #E6E7EB;
}

/*убрали настройки по умолчанию стрелка у аккардиона*/
details > summary {
  list-style: none;
}

details > summary::marker {
  display: none;
}
