.input__title {
  font-family: 'Golos', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #9397A3;
  margin-bottom: 8px;
  width: 552px;
  align-self: center;
}
