.personal__field_date::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.personal__field_date::-webkit-datetime-edit {
  color: #212329
}

.personal__field_date:focus::-webkit-datetime-edit {
  color: #212329
}
